<h3>Edit person:</h3>
<form *ngIf="person && allLoaded()">
  <div class="form-group">
    <label>Name:</label>
    <input class="form-control"    [(ngModel)]="person.name" name="person-name">
  </div>
  <div class="form-group">
    <label>Surname:</label>
    <input class="form-control"[(ngModel)]="person.surname" name="person-surname">
  </div>
   <div class="form-group">
    <label>Country:</label>
<select class="form-control" [(ngModel)]="person.countryId" name="country-select">
    <option *ngFor="let country of countries;" [value]="country.id">{{country.name}}</option>
</select>  </div>

<button type="button" class="btn btn-default" (click)="submit()">Submit</button>
</form>
<div *ngIf = "!allLoaded()" class="alert alert-info" role="alert">Loading...</div>