<h3>Create person:</h3>
<form *ngIf="!loading" #createform="ngForm">
  <div class="form-group">
    <label>Name:</label>
    <input class="form-control" required [(ngModel)]="person.name" name="name" #name="ngModel">
    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">Required</div>
  </div>
  <div class="form-group">
    <label>Surname:</label>
    <input required class="form-control" [(ngModel)]="person.surname" name="surname"  #surname="ngModel">
        <div *ngIf="surname.errors && (surname.dirty || surname.touched)" class="alert alert-danger">Required</div>
  </div>
  <div class="form-group">
    <label>Country:</label>
    <select required class="form-control" [(ngModel)]="person.countryId" name="country"  #country="ngModel"> // value is a string or number
    <option *ngFor="let country of countries;" [value]="country.id">{{country.name}}</option>
</select>
        <div *ngIf="country.errors && (country.dirty || country.touched)" class="alert alert-danger">Required</div>
 </div>

  <button type="button" class="btn btn-default" (click)="submit();createform.reset()" [disabled]="!createform.form.valid"> Submit</button>
</form>
<div *ngIf="loading" class="alert alert-info" role="alert">Loading...</div>